@import url(https://fonts.googleapis.com/css?family=Arvo:400,700,400italic);
@import url(https://fonts.googleapis.com/css?family=Sofadi+One);
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

* {
  margin: 0;
  padding: 0; }

a {
  color: #E3A15F;
  text-decoration: none; }

address {
  padding-bottom: 35px; }

body {
  background-image: url(../imgs/pattern.png);
  font-family: "Arvo", "Arial", sans-serif;
  margin: 0 auto;
  width: 100%; }
  @media (min-width: 1024px) {
    body {
      width: 1024px; } }

header {
  margin-bottom: 15px; }

h1, h2, h3 {
  font-family: "Sofadi One", "Times New Roman", serif;
  margin: 0; }

h2 {
  font-size: 24px; }

h3 {
  font-size: 22px; }

p {
  font-size: 16px; }

.blog-header {
  background-color: #D95D5D;
  height: 200px;
  margin-top: 25px;
  overflow: hidden;
  width: 100%; }

.logo {
  font-size: 31px;
  height: 0;
  line-height: 200px;
  margin-left: 25px;
  vertical-align: middle;
  width: 295px; }

.menu-toggle {
  color: #E3A15F; }
  @media (min-width: 320px) {
    .menu-toggle {
      display: block;
      margin: 25px;
      width: 100%; } }
  @media (min-width: 1024px) {
    .menu-toggle {
      display: none; } }

.primary-nav {
  background-color: #E3F6F3;
  overflow: hidden;
  width: 100%; }

.primary-nav li {
  height: auto;
  list-style-type: none; }
  @media (min-width: 320px) {
    .primary-nav li {
      margin: 0 25px; } }
  @media (min-width: 1024px) {
    .primary-nav li {
      display: inline-block;
      font-size: 24px;
      margin-left: 25px;
      text-decoration: none; } }

.primary-nav-ul {
  line-height: 80px;
  vertical-align: middle;
  overflow: hidden;
  transition: 0.5s; }
  @media (min-width: 320px) {
    .primary-nav-ul {
      height: 0; } }
  @media (min-width: 1024px) {
    .primary-nav-ul {
      height: auto; } }

@media (min-width: 320px) {
  .show {
    height: 320px; } }

@media (min-width: 1024px) {
  .articles {
    float: left;
    width: 75%; } }

.article-preview {
  background-color: #F4F7F7;
  margin: 0 auto;
  margin-top: 20px;
  padding: 15px 0;
  width: 95%; }
  @media (min-width: 640px) {
    .article-preview {
      float: left;
      margin: 0 0 15px 15px;
      width: 290px; } }
  @media (min-width: 1024px) {
    .article-preview {
      margin: 0 15px 15px 0;
      padding: 0;
      width: 30%; } }

.article-preview img {
  height: auto;
  max-width: 100%;
  width: inherit;
  /* IE8 */ }

.article-preview p {
  padding-bottom: 10px; }

.preview-container {
  margin: 0 auto;
  width: 260px; }
  @media (min-width: 1024px) {
    .preview-container {
      padding: 15px;
      width: 100%; } }

.articles-nav a {
  color: #D95D5D;
  padding-left: 10px;
  text-decoration: none; }

.articles-nav {
  clear: both;
  margin: 0 auto;
  padding: 25px 0;
  text-align: center; }

.more-btn {
  background-color: #D95D5D;
  padding: 15px;
  text-align: center;
  width: 40%; }
  @media (min-width: 1024px) {
    .more-btn {
      padding: 14px;
      width: 50%; } }

.pubdate {
  font-size: 14px; }

.social-share li {
  float: left;
  list-style: none; }

.social-share {
  float: right; }

@media (min-width: 1024px) {
  .article {
    float: left;
    margin-bottom: 15px;
    width: 75%; } }

.article-view {
  background-color: #F4F7F7;
  margin: 0 auto;
  margin-right: 15px; }

.article-view h2 {
  font-size: 32px;
  padding-top: 20px; }

.article-view img {
  display: block;
  height: auto;
  margin: 0 auto;
  max-width: 100%;
  padding-bottom: 20px;
  width: inherit;
  /* IE8 */ }

.article-view p {
  padding-bottom: 20px; }

.article-container {
  margin: 0 auto;
  width: 95%; }

.recent-articles {
  background-color: #E3F6F3;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 15px 15px 0 15px;
  width: 304px; }
  @media (min-width: 640px) {
    .recent-articles {
      clear: both;
      width: 95%; } }
  @media (min-width: 1024px) {
    .recent-articles {
      clear: none;
      float: right;
      margin-bottom: 0;
      margin-top: 0;
      width: 25%; } }

.recent-articles h2 {
  color: #D95D5D;
  padding-bottom: 25px; }

.recent-articles .pubdate {
  color: #D95D5D;
  padding-bottom: 35px; }

.see-all {
  padding-bottom: 20px;
  text-decoration: none; }

footer {
  clear: both;
  background-color: #D95D5D;
  height: 200px;
  overflow: hidden;
  margin-bottom: 20px; }

.copyright {
  color: #E3A15F;
  height: 0;
  line-height: 200px;
  margin-left: 25px;
  vertical-align: middle; }

/*# sourceMappingURL=style.css.map */
