* {
	margin: 0;
	padding: 0;
}

address {
	padding-bottom: 35px;
}

body {
	font-family: $general-text;
	width: $content-width;
	margin: 0 auto;
}

h2, h3 {
	font-family: $headings;
}

p {
	font-size: 14px;
}

.article {
	float: left;
	margin: 15px 0;
	width: 705px;
}

.article-preview img {
	width: 200px;
}

.article-preview p {
	padding-bottom: 10px;
}

.article-preview {
	background-color: #e7e7e7;
	float: left;
	padding: 10px;
	margin: 15px 15px 0 0;
	width: 200px;
}

.article-view img {
	display: block;
	padding: 15px 0 35px 0;
	margin: 0 auto;
}

.article-view p {
	padding-bottom: 20px;
}

.article-view {
	background-color: #e7e7e7;
	margin-right: 15px;
	padding: 50px;
}

.articles {
	float: left;
	width: 705px;
}

.articles-nav {
	clear: both;
	padding: 25px 0;
	text-align: center;
	width: 705px;
}

.articles-nav a {
	padding-left: 10px;
	text-decoration: none;
}

.more-btn a {
	text-decoration: none;
}

.more-btn {
	background-color: #FFFFFF;
	border: 1px solid #000000;
	padding: 5px 25px;
	width: 66px;
}
