// Google Fonts
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700,700italic,400italic,300italic);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700);

// Tipografías
$general-text:'Roboto', 'Arial', sans-serif;
$headings: 'Roboto Slab', 'Times New Roman', serif;

// Layout
$content-width: 960px;