// Google Fonts
@import url(https://fonts.googleapis.com/css?family=Arvo:400,700,400italic);
@import url(https://fonts.googleapis.com/css?family=Sofadi+One);

// Tipografías
$general-text:'Arvo', 'Arial', sans-serif;
$headings: 'Sofadi One', 'Times New Roman', serif;

//Colours
$light-background: #F6F7BD;
$body-background: #80BCA3;
$links: #E6AC27;
$otherText-color: #F6F7BD;
$dark-background: #655643;

// Layout
$content-width: 1024px;