// Google Fonts
@import url(https://fonts.googleapis.com/css?family=Arvo:400,700,400italic);
@import url(https://fonts.googleapis.com/css?family=Sofadi+One);

// Tipografías
$general-text:'Arvo', 'Arial', sans-serif;
$headings: 'Sofadi One', 'Times New Roman', serif;

//Colours
$article-background: #F4F7F7;
$footer-header-background: #D95D5D;
$links: #E3A15F;
$otherText-color: #D95D5D;
$nav-background: #E3F6F3;
$button-background: #D95D5D;