.blog-header {
	background-color: #e7e7e7;
	height: 200px;
	margin-top: 25px;
	overflow: hidden;
	width: 100%;
}

.logo {
	font-size: 31px;
	line-height: 200px;
	margin-left: 25px;
	vertical-align: middle;
}

.social-share li {
	float: left;
	list-style: none;
}

.social-share {
	float: right;
	margin-top: 25px;
}
