.blog-header {
	background-image: url(../imgs/pattern.png);
	height: 200px;
	margin-top: 25px;
	overflow: hidden;
	width: 100%;
}

.logo {
	font-size: 31px;
	height: 0;
	line-height: 200px;
	margin-left: 25px;
	vertical-align: middle;
	width: 295px;
}
