footer {
	background-image: url(../imgs/pattern.png);
	clear: both;
	overflow: hidden;
	margin-bottom: 20px;
	margin-top: 150px;
}

.copyright {
	color: $otherText-color;
	line-height: 140px;
	margin-left: 25px;
	vertical-align: middle;
	width: 100%;
}