footer {
	clear: both;
	background-color: $footer-header-background;
	height: 200px;
	overflow: hidden;
	margin-bottom: 20px;
}

.copyright {
	color: $links;
	height: 0;
	line-height: 200px;
	margin-left: 25px;
	vertical-align: middle;
}
