.article {
	@media (min-width: 1024px){
		float: left;
		margin-bottom: 15px;
		width: 75%;
	}
}

.article-view {
	background-color: $article-background;
	margin: 0 auto;
	margin-right: 15px;
}

.article-view h2 {
	font-size: 32px;
	padding-top: 20px;
}

.article-view img {
	display: block;
	height: auto;
	margin: 0 auto;
	max-width: 100%;
	padding-bottom: 20px;
	width: inherit; /* IE8 */
}

.article-view p {
	padding-bottom: 20px;
}

.article-container {
	margin: 0 auto;
	width: 95%;
}
