.articles {
	@media (min-width: 1024px){
		float: left;
		width: 75%;
	}
}

.article-preview {
	background-color: $article-background;
	margin: 0 auto;
	margin-top: 20px;
	padding: 15px 0;
	width: 95%;
	@media (min-width: 640px){
		float: left;
		margin: 0 0 15px 15px;
		width: 290px;
	}
	@media (min-width: 1024px){
		margin: 0 15px 15px 0;
		padding: 0;
		width: 30%;
	}
}

.article-preview img {
	height: auto;
	max-width: 100%;
	width: inherit; /* IE8 */
}

.article-preview p {
	padding-bottom: 10px;
}

.preview-container {
	margin: 0 auto;
	width: 260px;
	@media (min-width: 1024px){
		padding: 15px;
		width: 100%;
	}
}

.articles-nav a {
	color: $otherText-color;
	padding-left: 10px;
	text-decoration: none;
}

.articles-nav {
	clear: both;
	margin: 0 auto;
	padding: 25px 0;
	text-align: center;
}

.more-btn {
	background-color: $button-background;
	padding: 15px;
	text-align: center;
	width: 40%;
	@media (min-width: 1024px){
		padding: 14px;
		width: 50%;
	}
}

.pubdate {
	font-size: 14px;
}

.social-share li {
	float: left;
	list-style: none;
}

.social-share {
	float: right;
}
