.primary-nav li {
	font-size: 24px;
	list-style: none;
	text-decoration: none;
}

.primary-nav ul {
	line-height: 80px;
	vertical-align: middle;
}

.primary-nav {
	background-color: $nav-background;
	overflow: hidden;
	text-align: center;
	width: 100%;
}
