.recent-articles h2 {
	color: $otherText-color;
	padding-bottom: 25px;
}

.recent-articles .pubdate {
	color: $otherText-color;
	padding-bottom: 35px;
}

.recent-articles {
	background-color: $nav-background;
	margin: 0 auto;
	margin-top: 20px;
	padding-top: 20px;
	width: 95%;
}

.sidebar-container {
	margin: 0 auto;
	width: 85%;
}

.see-all {
	padding-bottom: 20px;
	text-decoration: none;
}
