.recent-articles h2 {
	color: $otherText-color;
	padding-bottom: 25px;
}

.recent-articles p {
	color: $otherText-color;
	padding-bottom: 35px;
}

.recent-articles {
	background-color: $dark-background;
	float: right;
	padding: 15px;
	margin-top: 20px;
	width: 22%;
}

.see-all {
	float: right;
	text-decoration: none;
}
